.input {
  color: white;
  font-size: 1.6rem;
}

.questions {
  color: orange;
  font-size: 1.8rem;
}

.quote {
  color: purple;
  font-size: 2rem;
}

.buttons {
  font-size: 1.2rem;
  margin: 0.5rem;
}
