.AppWrapper {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.form__button {
	text-align: center;
	margin: 3rem 0;
	font-size: 3rem;
}

.form__container {
	text-align: center;
	padding: 8rem 0;
}
