.result {
  text-align: center;
}
.home{
  text-align: center;
  color:black;
  height:auto;
  background-image:url('../src/img/houses_all.png'); 
  background-color: rgba(204, 204, 204, 0.89);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-blend-mode: lighten;
  margin-bottom: 30px;
}
#testbtn{
  margin-bottom: 50px;
} 
.ui {
 font-size: 20px;
}
.gryffindor{
  height:auto;
  background-color: black;
  color:goldenrod;
  font-size: 18px;
  padding-bottom: 40px;
}
p{
  margin: 10px 25px;
}
.hufflepuf{
  height:auto;
  background-color: black;
  color:yellow;
  font-size: 18px;
  padding-bottom: 40px;
}

.ravenclaw{
  height:auto;
  background-color: black;
  color:rgb(21, 172, 241);
  font-size: 18px;
  padding-bottom: 40px;
  
}

.slytherin{
  height:auto;
  background-color: black;
  color:rgb(10, 150, 10);
  font-size: 18px;
  padding-bottom: 40px;
}
.navigation{
  background-color: black;
}

.grid{
  margin: 10px 25px;
}

#welcomeimg{
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  #welcome {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .result img{
    width: 100%;
  }
}