.App {
  text-align: center;
}
h1 {
  font-family: 'Almendra', serif;
}
img {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
.btn {
  border-radius: 10px;
  height: 80px;
  background-color: rgba(128,0,0);
  font-size: 20px;
  margin-bottom: 30px;
}
.btn:hover {
  background-color: rgba(154,0,0,0.85);
}

.quiz-item .btn {
  display: block;
  width: 100%;
  font-size: 16px;
}
.quiz-item {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}
.quiz-item .btn p {
  text-align: left;
  padding-top: 5px;
}
.quiz-item h3 {
  font-family: 'Almendra', serif;
  text-align: left;
  margin-bottom: 30px;
}
.result p {
  font-family: 'Almendra', serif;
  font-size: 20px;
}
h2 {
  font-family: 'Almendra', serif;
}