.landing {
  visibility: initial;
  background: lightblue;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;

  /* make sure to delete the below when ready */

}

h1 {
  margin: 0;
}

.landingHidden {
  display: none;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}